sudo: required
language: go

go:
  - 1.9.x


services:
  - docker

addons:
  apt:
    packages:
      - docker-ce

install:
  - echo "Please don't go get"

script:
  - make build

after_success:
  - if [ ! -s "$TRAVIS_TAG" ] ; then
      docker tag functions/faas-o6s:latest functions/faas-o6s:$TRAVIS_TAG;
      docker login -u=$DOCKER_USERNAME -p=$DOCKER_PASSWORD;
      docker push functions/faas-o6s:$TRAVIS_TAG;
    fi
